body {
    background: #2C3E50;
    /*    color: #e0e0e0;*/
    color: #2ECC71;
    font-family: "mononoki nerd font", mono;
    max-width: 1000px;
    margin: auto;
    padding: 1em;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Design the menu --- start */
#menue {
    background-color: #2C3E50;
    position: sticky;
    top: 0;
}

#menue ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menue li {
    float: left;
    display: block;
    padding: 0px 5px;
}

#menue hr {
    color: #95A5A6;
}

/* Design the menu --- end */


h1, h2, h3, h4 {
    color: #9B59B6;
}

a {
    color: #3498DB;
}

.overview_img {
    height: 5em;
    width: 5em;
    margin-right: 1em;
}

.overview_link {
    text-decoration: none;
    color: #2ECC71;
}

.overview_link:hover {
    color: #3498DB;
}
.overview {
    display: flex;
    align-items: top;
}
